<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All gamestore</title>
</head>
<body>
    <!-- Stands for each -->
    <div th:each="game : ${games}">
        <!-- Want to make an url to every mail and text is name + surname -->
        <a th:href="@{/gamestore/game/{id}(id=${game.getId()})}"
           th:text="${game.getName()} +': '+ ${game.getDescription() == null ?
                    'no description yet' : game.getDescription()}">user</a>
    </div>
    <div style="color: dodgerblue" th:if="${games.size() == 0}">No games in store yet</div>

    <hr/>

    <form th:action="@{/gamestore/game/new}">
        <input type="submit" value="Add new game"/>
    </form>
    <br/>
    <form th:action="@{/gamestore}">
        <input type="submit" value="Main page"/>
    </form>
</body>
</html>