<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <!-- When submit button is clicked - it will send post action to create person -->
    <form th:method="POST" th:action="@{/WEB-INF/views/gamestore}" th:object="${game}">
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name error </div>
        <br/>
        <label for="description">Description: </label>
        <input type="text" th:field="*{description}" id="description"/>
        <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> Description error </div>
        <br/>
        <label for="genre">Genre: </label>
        <input type="text" th:field="*{genre}" id="genre"/>
        <div style="color: red" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"> Genre error </div>
        <br/>
        <label for="price">Price: </label>
        <input type="text" th:field="*{price}" id="price"/>
        <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> Price error </div>
        <br/>
        <label for="amount">Amount: </label>
        <input type="text" th:field="*{amount}" id="amount">
        <div style="color: red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"> Amount error </div>
        <br/>
        <hr/>
        <input type="submit" value="Add!"/>
    </form>

    <form th:action="@{/WEB-INF/views/gamestore}">
        <input type="submit" value="Go back"/>
    </form>
</body>
</html>